FiniteAutomatonPractice1/obj/
FiniteAutomatonPractice1/bin/
*.user
*.suo
FiniteAutomatonPractice1/GettingStarted.Xamarin
FiniteAutomatonPractice.Core/bin/
FiniteAutomatonPractice2/bin/
FiniteAutomatonPractice2/obj/
FiniteAutomatonPractice.Core/obj/
